{{#if card-link}}
<a class="c-card c-card--{{variant}} c-card--image-{{position}} {{#if disabled}}demo-disabled{{/if}}" href="{{card-link}}">
{{else}}
<article class="c-card c-card--{{variant}} c-card--image-{{position}} {{#if disabled}}demo-disabled{{/if}}">
{{/if}}

{{#if is-staff}}

  <h4>
    {{#if image-link}}
    <a href="{{image-link}}">Bender Rodríguez</a>
    {{else}}
    Bender Rodríguez
    {{/if}}
  </h4>
  {{#unless card-link}}
  <p>Planet Express Worker</p>
  <p>(Anti-hero in Futurama)</p>
  {{/unless}}
  {{#if image-link}}
  <a href="{{image-link}}">
    <img class="img-fluid" width="234px" height="293px"
      src="https://cohro.ukzn.ac.za/wp-content/uploads/2019/02/profile-placeholder.png"
      title="University of Texas at Austin" class="img-fluid"
    />
  </a>
  {{else}}
  <img class="img-fluid" width="234px" height="293px"
    src="https://cohro.ukzn.ac.za/wp-content/uploads/2019/02/profile-placeholder.png"
    title="University of Texas at Austin" class="img-fluid"
  />
  {{/if}}

{{else}}

  <h3 id="card-image-{{position}}">Card - Image {{position}}</h3>
  {{#unless card-link}}
  <p>{{> @text-of-one-paragraph-short }}</p>
  {{#if tall}}
  {{> @message tag="p" type="warning" scope="inline" content="Narrow images might not fill space available. Just use a wider image." }}
  {{/if}}
  {{/unless}}
  {{#if image-link}}
  <a href="{{image-link}}">
    <img src="{{> @img-url wide=wide tall=tall medium=true }}" />
  </a>
  {{else}}
  <img src="{{> @img-url wide=wide tall=tall medium=true }}" />
  {{/if}}
{{/if}}

{{#if card-link}}
</a>
{{else}}
</article>
{{/if}}
