<dl>
  {{#if supports.type}}
  <dt>Type</dt>
  <dd>
    <dl>
      <dt><code>&lt;button&gt;</code></dt>
      <dd>
        <button class="c-button c-button--{{this._self.name}} c-button--secondary" {{#if disabled}}disabled{{/if}}>
          --secondary
        </button>
        <button class="c-button c-button--{{this._self.name}} c-button--primary" {{#if disabled}}disabled{{/if}}>
          --primary
        </button>
        <button class="c-button c-button--{{this._self.name}} c-button--tertiary" {{#if disabled}}disabled{{/if}}>
          --tertiary
        </button>
      </dd>

      {{#if supports.link-tag}}
      <dt><code>&lt;a&gt;</code></dt>
      <dd>
        <a href="#" class="c-button c-button--{{this._self.name}} c-button--secondary" {{#if disabled}}disabled
          tabindex="-1" {{/if}}>
          --secondary
        </a>
        <a href="#" class="c-button c-button--{{this._self.name}} c-button--primary" {{#if disabled}}disabled
          tabindex="-1" {{/if}}>
          --primary
        </a>
        <a href="#" class="c-button c-button--{{this._self.name}} c-button--tertiary" {{#if disabled}}disabled
          tabindex="-1" {{/if}}>
          --tertiary
        </a>
      </dd>
      {{/if}}
    </dl>
  <dd>
    {{/if}}

    {{#if supports.states}}
  <dt>States</dt>
  <dd>
    <dl>
      <dt><code>&lt;button&gt;</code></dt>
      <dd>
        <button class="c-button c-button--{{this._self.name}}
        {{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled{{/if}}>
          default
        </button>
        <button class="c-button c-button--{{this._self.name}} 
        {{#if type}}{{type}}{{/if}}" disabled>
          disabled-attr
        </button>
        <button class="c-button c-button--{{this._self.name}} c-button--is-busy
        {{#if type}}{{type}}{{/if}}" disabled>
          --is-busy
      </dd>

      {{#if supports.link-tag}}
      <dt><code>&lt;a&gt;</code></dt>
      <dd>
        <a href="#" class="c-button c-button--{{this._self.name}}
        {{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled tabindex="-1" {{/if}}>
          default
        </a>
        <a disabled tabindex="-1" href="#" class="c-button c-button--{{this._self.name}}
        {{#if type}}{{type}}{{/if}}">
          disabled-attr
        </a>
        <a href="#" class="c-button c-button--{{this._self.name}} c-button--is-busy
        {{#if type}}{{type}}{{/if}}" disabled tabindex="-1">
          --is-busy
        </a>
      </dd>
      {{/if}}
    </dl>
  <dd>
    {{/if}}

    {{#if supports.icons}}
  <dt>Icons</dt>
  <dd>
    <dl>
      <dt><code>&lt;button&gt;</code></dt>
      <dd>
        <button class="c-button c-button--{{this._self.name}}
        {{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled{{/if}}>
          <i class="icon icon-push-right" aria-description="validate input">…</i>
          __icon--before
        </button>
        <button class="c-button c-button--{{this._self.name}}
        {{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled{{/if}}>
          __icon--after
          <i class="icon icon-new-browser" aria-description="exit page">X</i>
      </dd>

      {{#if supports.link-tag}}
      <dt><code>&lt;a&gt;</code></dt>
      <dd>
        <a href="#" class="c-button c-button--{{this._self.name}}
        {{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled tabindex="-1" {{/if}}>
          <i class="icon icon-push-right" aria-description="validate input">…</i>
          __icon--before
        </a>
        <a href="#" class="c-button c-button--{{this._self.name}}
        {{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled tabindex="-1" {{/if}}>
          __icon--after
          <i class="icon icon-new-browser" aria-description="exit page">X</i>
        </a>
      </dd>
      {{/if}}
    </dl>
  <dd>
    {{/if}}

    {{#if supports.width}}
  <dt>Width</dt>
  <dd>
    <dl>
      <dt><code>&lt;button&gt;</code></dt>
      <dd>
        <button class="c-button c-button--{{this._self.name}} c-button--width-short {{#if type}}{{type}}{{/if}}" {{#if
          disabled}}disabled{{/if}}>
          --width-short
        </button>
        <button class="c-button c-button--{{this._self.name}} c-button--width-medium {{#if type}}{{type}}{{/if}}" {{#if
          disabled}}disabled{{/if}}>
          --width-medium
        </button>
        <button class="c-button c-button--{{this._self.name}} c-button--width-long {{#if type}}{{type}}{{/if}}" {{#if
          disabled}}disabled{{/if}}>
          --width-long
      </dd>

      {{#if supports.link-tag}}
      <dt><code>&lt;a&gt;</code></dt>
      <dd>
        <a href="#" class="c-button c-button--{{this._self.name}} c-button--width-short {{#if type}}{{type}}{{/if}}"
          {{#if disabled}}disabled tabindex="-1" {{/if}}>
          --width-short
        </a>
        <a href="#" class="c-button c-button--{{this._self.name}} c-button--width-medium {{#if type}}{{type}}{{/if}}"
          {{#if disabled}}disabled tabindex="-1" {{/if}}>
          --width-medium
        </a>
        <a href="#" class="c-button c-button--{{this._self.name}} c-button--width-long {{#if type}}{{type}}{{/if}}"
          {{#if disabled}}disabled tabindex="-1" {{/if}}>
          --width-long
        </a>
      </dd>
      {{/if}}
    </dl>
  <dd>
    {{/if}}

    {{#if supports.size}}
  <dt>Size</dt>
  <dd>
    {{#if supports.size-small}}
    <dl>
      <dt><code>&lt;button&gt;</code></dt>
      <dd>
        <button class="c-button c-button--{{this._self.name}} c-button--size-small
          {{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled{{/if}}>
          --size-small
        </button>
      </dd>

      {{#if supports.link-tag}}
      <dt><code>&lt;a&gt;</code></dt>
      <dd>
        <a href="#" class="c-button c-button--{{this._self.name}} c-button--size-small
          {{#if type}}{{type}}{{/if}}" {{#if disabled}}disabled tabindex="-1"{{/if}}>
          --size-small
        </a>
      </dd>
      {{/if}}
    </dl>
    {{else}}
    <small>(no small size allowed)</small>
    {{/if}}
  <dd>
    {{/if}}
</dl>